.admin-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-page>h2 {
    font-weight: 900;
    margin-top: 10px;
}

.initial-entry {
    margin: 15px;
    max-width: 300px;
    font-size: 20px;
}

.initial-entry>h4 {
    font-weight: 500;
    font-style: italic;
}

.session-select {
    width: 100%;
    font-size: 20px;
    margin-bottom: 10px;
}

.items-num-input {
    width: 50px;
    margin: 10px;
}

.blank-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px;
}

@media only screen and (min-width: 768px) {
    .blank-items {
        width: 760px;
    }
}

.blank-items button {
    margin: 10px;
}

.item {
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
}

.item input,
select {
    width: 80px;
    margin: 0;
    padding: 5px;
}

#item-name {
    width: 200px;
}

@media only screen and (min-width: 768px) {
    #item-name {
        width: 300px;
    }
}

.horzi-line {
    border: 0.5px solid grey;
    width: 100%;
}

.indivi-entry {
    display: flex;
    justify-content: space-between;
    margin: 3px;
    padding: 0;
}