@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Poppins&family=Raleway&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16px;
}




/* .main-section {
    min-height: 80vh;
    background-color: white;
    display: flex;

}

.individual-card {
    margin: 10px;
    padding: 15px;
    width: 200px;
    height: 200px;
    border: 2px solid grey;
    border-radius: 10px;

    text-align: center;
}

.macros {
    display: flex;
    justify-content: space-between;
}

.single-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-item-count-section {
    display: flex;
    align-items: baseline;
}

.single-item-count-section>* {
    margin: 10px;
}



.add-button-section {
    min-width: 100%;
    min-height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-button-section>button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 30px;
}
 */



/* Testing */